
<section>
    <div class="row d-flex justify-content-center">
        <div class="col-7 text-center mb-5 mt-3">
            <h2 class="fw-bold">Plan & Pricing</h2>
            <p>First 30 days absolutely <span class="text-primary fw-bold">free</span> for any plan, no credit card required to get started.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 mb-4">
            <div class="card shadow-sm pt-3">
                <div class="card-header bg-white text-center border-0">
                    <div class="text-primary text-uppercase fw-bold">{{planPersonalTitle}}</div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <sup class="h4 fw-bold">{{planPersonalCurrency}}</sup> <sub class="display-3 fw-bold">{{planPersonalPrice}}</sub>
                        <div class="mt-1"><small>{{planPersonalTime}}</small></div>                       
                    </div>
                    <div class="py-5 text-center small fw-bold">                        
                       {{planPersonalDescription}}
                    </div>
                    <div>
                        <div class="btn btn-primary py-3 shadow-sm text-decoration-none rounded-pill w-100 btn-block fw-bold">{{planPersonalGetStartedBtn}}<i class="fa-solid fa-arrow-right ms-3"></i></div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card shadow-sm pt-3">
                <div class="card-header bg-white text-center border-0">
                    <div class="text-primary text-uppercase fw-bold">{{planTeamsTitle}}</div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <sup class="h4 fw-bold">{{planTeamsCurrency}}</sup> <sub class="display-3 fw-bold">{{planTeamsPrice}}</sub>
                        <div class="mt-1"><small>{{planTeamsTime}}</small></div>                       
                    </div>
                    <div class="py-5 text-center small fw-bold">                        
                        {{planTeamsDescription}}
                    </div>
                    <div>
                        <div class="btn btn-primary py-3 shadow-sm text-decoration-none rounded-pill w-100 btn-block fw-bold">{{planTeamsGetStartedBtn}}<i class="fa-solid fa-arrow-right ms-3"></i></div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card shadow-sm pt-3">
                <div class="card-header bg-white text-center border-0">
                    <div class="text-primary text-uppercase fw-bold">{{planCorporateTitle}}</div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <sup class="h4 fw-bold">{{planCorporateCurrency}}</sup> <sub class="display-3 fw-bold">{{planCorporatePrice}}</sub>
                        <div class="mt-1"><small>{{planCorporateTime}}</small></div>                       
                    </div>
                    <div class="py-5 text-center small fw-bold">                        
                       {{planCorporateDescription}}
                    </div>
                    <div>
                        <div class="btn btn-primary py-3 shadow-sm text-decoration-none rounded-pill w-100 btn-block fw-bold">{{planCorporateGetStartedBtn}}<i class="fa-solid fa-arrow-right ms-3"></i></div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card shadow-sm pt-3">
                <div class="card-header bg-white text-center border-0">
                    <div class="text-primary text-uppercase fw-bold">{{planCompanyTitle}}</div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <sup class="h4 fw-bold">{{planCompanyCurrency}}</sup> <sub class="display-3 fw-bold">{{planCompanyPrice}}</sub>
                        <div class="mt-1"><small>{{planCompanyTime}}</small></div>                       
                    </div>
                    <div class="py-5 text-center small fw-bold">                        
                        {{planCompanyDescription}}
                    </div>
                    <div>
                        <div class="btn btn-primary py-3 shadow-sm text-decoration-none rounded-pill w-100 btn-block fw-bold">{{planCompanyGetStartedBtn}}<i class="fa-solid fa-arrow-right ms-3"></i></div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>


