<section>
    <div class="row d-flex justify-content-center">
        <div class="col-7 text-center mb-5 mt-3">
            <h2 class="fw-bold">statistic & DataTables</h2>
            <p>In this section we will see <span class="text-primary fw-bold">statistic & datatables</span> which is user friendly.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card shadow-sm">
                <div class="card-header">
                   <div class="text-primary text-uppercase fw-bold"> Datatable with crud</div>
                </div>
                <div class="card-body">
                    <div class="text-end">
                    <div class="btn btn-success shadow-sm rounded mb-4"><i class="fa-solid fa-plus me-2"></i> Add Record</div>
                </div>
                    <table class="table table-bordered table-hover mb-0">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>                               
                            <div class="btn btn-success shadow-sm rounded btn-sm me-2"><i class="fa-solid fa-pen-to-square me-1"></i> Edit</div> 
                            <div class="btn btn-danger shadow-sm rounded btn-sm"><i class="fa-solid fa-trash me-1"></i> Delete</div>                               
                            </td>
                          </tr>                       
                        
                        </tbody>
                      </table>
                </div>               
            </div>
        </div>       
    </div>
</section>
