<section>
    <div class="row d-flex justify-content-center">
        <div class="col-7 text-center mb-5 mt-3">
            <h2 class="fw-bold">statistic & DataTables</h2>
            <p>In this section is related to <span class="text-primary fw-bold">statistic & datatables</span> which is user friendly.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card shadow-sm">
                <div class="card-header">
                   <div class="text-primary text-uppercase fw-bold"> Datatable with crud</div>
                </div>
                <div class="card-body">
                    <div class="text-end">
                    <div routerLink="/add" class="btn btn-success shadow-sm rounded mb-4"><i class="fa-solid fa-plus me-2"></i> Create new Record</div>
                </div>
                    <table class="table table-bordered table-hover mb-0 shadow-sm rounded">
                        <thead class="bg-dark text-white">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Email</th>        
                            <th scope="col">Action</th>                  
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of getUserData">
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.name}}</td>                            
                            <td>{{item.username}}</td>
                            <td>{{item.email}}</td>
                            <td>                               
                            <div [routerLink]="['/edit', item.id]" class="btn btn-success shadow-sm rounded btn-sm me-2"><i class="fa-solid fa-pen-to-square me-1"></i> Edit</div> 
                            <div (click)="deleteRecord()" class="btn btn-danger shadow-sm rounded btn-sm"><i class="fa-solid fa-trash me-1"></i> Delete</div>                               
                            </td>
                          </tr>                       
                        
                        </tbody>
                      </table>
                </div>               
            </div>
        </div>       
    </div>
</section>
