<section>
    <div class="row d-flex justify-content-center">
        <div class="col-7 text-center mb-5 mt-3">
            <h2 class="fw-bold">Create Record</h2>
            <p>In this section is related to <span class="text-primary fw-bold">create records</span> in datatable for new user.</p>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-5 mb-4">
            <div class="card shadow-sm">
                <div class="card-header">
                   <div class="text-primary fw-bold py-2">Create Record</div>
                </div>
                <div class="card-body">                
                    <form [formGroup]="createRecord" (ngSubmit)="createNewRecord()">                       
                        <div class="mb-3">
                          <label for="exampleInputName" class="form-label">Name</label>
                          <input formControlName="name" type="text" class="form-control form-control-lg shadow-sm rounded" id="exampleInputName">
                          <div class="small text-danger" *ngIf="name && name.invalid">This field is Required.</div>  
                        </div>  
                        <div class="mb-3">
                            <label for="exampleInputuserName" class="form-label">User Name</label>
                            <input formControlName="username" type="text" class="form-control form-control-lg shadow-sm rounded" id="exampleInputuserName">
                            <div class="small text-danger" *ngIf="username && username.invalid">This field is Required.</div>  
                        </div>                        
                        <div class="mb-3">
                            <label for="exampleInputEmail" class="form-label">Email</label>
                            <input formControlName="email" type="email" class="form-control form-control-lg shadow-sm rounded" id="exampleInputEmail" aria-describedby="emailHelp">                           
                            <div class="small text-danger" *ngIf="email && email.invalid">Email field is required.</div>        
                        </div>
                        <button type="submit" [disabled]="createRecord.invalid" class="btn btn-primary py-3 shadow-md text-decoration-none rounded w-100 btn-block fw-bold">Create Record<i class="fa-solid fa-arrow-right ms-3"></i></button>
                      </form>            
                </div>               
            </div>
        </div>       
    </div>
</section>
