<p>dashboard works!</p>

<!-- toaster-->
<h1>Angular 13 Toastr Notifications Example - Tutsmake.com</h1>
   
<button (click)="showToasterSuccess()">
    Success Toaster
</button>
   
<button (click)="showToasterError()">
    Error Toaster
</button>
   
<button (click)="showToasterInfo()">
    Info Toaster
</button>
   
<button (click)="showToasterWarning()">
    Warning Toaster
</button>

<!--swal sweet alert-->
<h1>Angular Sweetalert2 Examples - ItSolutionstuff.com</h1>
  
<button (click)="simpleAlert()">Simple Alert</button>
<button (click)="alertWithSuccess()">Alert with Success</button>
<button (click)="confirmBox()">Confirm Box</button>